<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="menu-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="grow" fxLayout="row" fxLayoutGap="1rem">
      <button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async"
        mat-icon-button
        matTooltip="Toggle sidenav"
        type="button"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a
        mat-stroked-button
        matTooltip="Partner with f4ratk by donating today"
        appExt href="https://liberapay.com/f4ratk/donate"
        type="button"
      >
        <mat-icon class="high-severity" aria-label="Support icon">favorite</mat-icon>
        {{ (isHandset$ | async) ? "" : "Support our Cause" }}
      </a>
    </div>

    <div>f4ratk</div>

    <div fxFlex="grow"></div>
  </div>
</mat-toolbar>
