<input
  type="file"
  hidden
  accept="text/csv"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<mat-expansion-panel [hideToggle]="!quotes" (opened)="ensureNotOpenWhenEmpty()">
  <mat-expansion-panel-header (click)="onPanelClicked($event)">
    <mat-panel-title>
      <mat-icon inline (click)="onPanelIconClicked($event)">
        {{ file ? "delete" : "attach_file" }}
      </mat-icon>
      {{ file?.name || "Select CSV file for analysis." }}
    </mat-panel-title>

    <mat-panel-description *ngIf="quotes && quotes.length > 0">
      {{ quotes.length }} Periods ({{ quotes[0].date }} to
      {{ quotes[quotes.length - 1].date }})
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <app-quote-table *ngIf="quotes" [quotes]="quotes"></app-quote-table>
  </ng-template>
</mat-expansion-panel>
