<div *ngIf="analyzing; then analyzingBlock; else idleBlock"></div>
<ng-template #analyzingBlock>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>
<ng-template #idleBlock>
  <mat-divider></mat-divider>
</ng-template>
