<h1>Analyze fund costs</h1>

<app-report-statements-form
  (analysisRequest)="analyze($event)"
></app-report-statements-form>

<app-request-bar [analyzing]="isAnalyzing"></app-request-bar>

<mat-card *ngIf="costBreakdown">
  <app-cost-breakdown-table
    [costBreakdown]="costBreakdown"
  ></app-cost-breakdown-table>
</mat-card>
