<table mat-table [dataSource]="items()">
  <ng-container matColumnDef="title">
    <td mat-cell *matCellDef="let item">{{ item.title }}</td>
    <td mat-footer-cell *matFooterCellDef>Estimated Total Costs</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <td mat-cell *matCellDef="let item">{{ item.amount }}</td>

    <td mat-footer-cell *matFooterCellDef>{{ displayTotal() }}</td>
  </ng-container>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns; let item"
    [ngClass]="{ disabled: hasAmount(item) }"
  ></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
