<app-errors [errorTemplates]="errors()"></app-errors>

<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>leaderboard</mat-icon>
        Graph
      </ng-template>
      <app-factor-chart [results]="graphData()"></app-factor-chart>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>table_chart</mat-icon>
        Table
      </ng-template>
      <app-report-table
        [results]="report.coefficients"
        [confidenceLevel]="report.confidenceLevel"
      >
      </app-report-table>
    </mat-tab>
  </mat-tab-group>

  <mat-list>
    <mat-list-item>
      Adjusted R²: {{ report.adjustedRSquared | percent: "2.2" }}
    </mat-list-item>
    <mat-list-item>
      Number of Periods: {{ report.observations }}
    </mat-list-item>
  </mat-list>

  <mat-divider inset></mat-divider>

  <div id="estimate" fxLayout="column" fxLayoutAlign="space-between stretch">
    <h1>
      Expected excess return before cost:
      {{ report.excessReturn / 100 | percent: "0.3" }}
    </h1>
    <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <mat-icon>info_outline</mat-icon>
      <span>
        Based on the determined factor loadings and historic factor returns.
        Past performance is not a guarantee of future results nor an indicator
        of future performance.
      </span>
    </p>
  </div>
</mat-card>
