<form
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  [formGroup]="analysisForm"
  (ngSubmit)="onSubmit()"
>
  <app-file-input-selection formControlName="file"></app-file-input-selection>

  <app-region-select [formGroup]="analysisForm"></app-region-select>

  <button mat-stroked-button type="submit" [disabled]="!analysisForm.valid">
    Analyze
  </button>
</form>
