<div
  *ngIf="errors.length"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap="0.25rem"
  style="margin-bottom: 1rem"
>
  <mat-card *ngFor="let error of errors">
    <div
      class="mat-error {{ error.severity }}"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="0.5rem"
    >
      <mat-icon>warning</mat-icon>
      <span style="white-space: nowrap">{{ error.title }}:</span>
      <span>{{ error.description }}</span>
    </div>
  </mat-card>
</div>
