<h1>Contact</h1>

<p>
  Thank you for considering leaving a message. This tool is driven by your
  requirements and telling us what is missing or could be improved in your
  opinion is helping us to prioritize our next steps. This form is the quickest
  way to reach out to us, but your note will not be visible to other users to
  comment on or subscribe to its progress. Consider opening a report for
  technical issues and feature requests at the
  <a appExt href="https://codeberg.org/toroettg/f4ratk-web/issues"
    >Issue Tracker</a
  >
  instead.
</p>

<p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
  <mat-icon>info_outline</mat-icon>
  <span>
    Note that all personal information in the following form may be omitted for
    giving anonymous feedback.
  </span>
</p>

<div fxFlexAlign="space-between stretch" fxLayout="column">
  <app-mail-form></app-mail-form>

  <p fxFlexOffset="5">
    If you prefer your client, feel free to send us an email to
    <a href="mailto:dev@roettger-it.de">dev@roettger-it.de</a>.
  </p>
  <p>
    For official matters, you may also want to refer to the contact of the
    <a routerLink="/legal-notice">Legal Notice / Impressum</a>.
  </p>
</div>
