<mat-nav-list>
  <h3 matSubheader>Analysis</h3>
  <div routerLinkActive="active">
    <a mat-list-item routerLink="tickers">
      <mat-icon fontIcon="material-icons-outlined" matListIcon
        >cloud_queue</mat-icon
      >
      Ticker</a
    >
  </div>
  <div routerLinkActive="active">
    <a mat-list-item routerLink="files">
      <mat-icon matListIcon>upload_file</mat-icon>
      File</a
    >
  </div>
  <div routerLinkActive="active">
    <a mat-list-item routerLink="costs">
      <mat-icon matListIcon fontSet="material-icons-outlined"
        >request_quote</mat-icon
      >
      Cost</a
    >
  </div>
  <h3 matSubheader>Informational</h3>
  <div routerLinkActive="active">
    <a mat-list-item routerLink="help">
      <mat-icon matListIcon>help_outline</mat-icon>
      Help
    </a>
  </div>
  <div routerLinkActive="active">
    <a mat-list-item routerLink="about">
      <mat-icon matListIcon>info_outline</mat-icon>
      About
    </a>
  </div>
</mat-nav-list>
