mat-sidenav {
  width: 12rem;
  background: inherit;
}

mat-sidenav-content {
  padding: 1em;
}

mat-sidenav-container {
  width: 100%;
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
}
