<mat-form-field fxFlexFill>
  <mat-label>Currency</mat-label>
  <mat-select
    formControlName="currency"
    required
    [compareWith]="compareCurrencies"
    [(ngModel)]="default"
    [disabled]="false"
  >
    <mat-option
      *ngFor="let currency of availableCurrencies()"
      [value]="currency"
    >
      {{ displayFormat(currency) }}
    </mat-option>
  </mat-select>
  <mat-hint>The currency of the symbol.</mat-hint>
</mat-form-field>
