<p>The following information (Impressum) is required under German law.</p>

<h1>Impressum</h1>

<h2 id="m46">Diensteanbieter</h2>

<p>{{ name }}<br />{{ address }}<br />{{ city }}<br />{{ country }}</p>

<h2 id="m56">Kontaktmöglichkeiten</h2>

<p>
  E-Mail-Adresse: <a href="mailto:{{ email }}">{{ email }}</a
  >.
</p>

<p>
  Kontaktformular: <a routerLink="/contact">{{ contactFormUrl }}</a
  >.
</p>

<h2 id="m65">Haftungs- und Schutzrechtshinweise</h2>

<h4>Haftungsausschluss</h4>

<p>
  Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem
  aktuellen Kenntnisstand erstellt, dienen jedoch nur der Information und
  entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um gesetzlich
  verpflichtende Informationen (z.B. das Impressum, die Datenschutzerklärung,
  AGB oder verpflichtende Belehrungen von Verbrauchern) handelt. Wir behalten
  uns vor, die Inhalte vollständig oder teilweise zu ändern oder zu löschen,
  soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind
  freibleibend und unverbindlich.
</p>

<h4>Links auf fremde Webseiten</h4>

<p>
  Inhalte fremder Webseiten, auf die wir direkt oder indirekt verweisen, liegen
  außerhalb unseres Verantwortungsbereiches und machen wir uns nicht zu Eigen.
  Für alle Inhalte und insbesondere für Schäden, die aus der Nutzung der in den
  verlinkten Webseiten aufrufbaren Informationen entstehen, haftet allein der
  Anbieter der verlinkten Webseiten.
</p>

<h4>Urheberrechte und Markenrechte</h4>
<p>
  Alle auf dieser Website dargestellten Inhalte, wie Texte, Fotografien,
  Grafiken, Marken und Warenzeichen sind durch die jeweiligen Schutzrechte
  (Urheberrechte, Markenrechte) geschützt. Die Verwendung, Vervielfältigung usw.
  unterliegen unseren Rechten oder den Rechten der jeweiligen Urheber bzw.
  Rechteverwalter.
</p>

<h4>Hinweise auf Rechtsverstöße</h4>

<p>
  Sollten Sie innerhalb unseres Internetauftritts Rechtsverstöße bemerken,
  bitten wir Sie uns auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und
  Links nach Kenntnisnahme unverzüglich entfernen.
</p>

<p class="seal">
  <a
    href="https://datenschutz-generator.de/?l=de"
    rel="noopener noreferrer nofollow"
    target="_blank"
    title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
    >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke.
  </a>
</p>
