<mat-form-field [formGroup]="formGroup" [class]="severity()">
  <mat-label>Ticker Symbol</mat-label>
  <input
    required
    matInput
    placeholder="AVUV"
    [formControlName]="formName"
    (change)="onChange()"
  />
  <mat-hint>Available symbols as listed on <em>Yahoo! Finance</em>.</mat-hint>
  <mat-error *ngIf="hasError()" [innerHTML]="errorDescription()"></mat-error>
</mat-form-field>
