html,
body {
  min-height: 100vh;
  display: flex;
  text-align: justify;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

app-root {
  width: 100%;
}

mat-form-field {
  padding-bottom: 1rem;
}
