<form
  (ngSubmit)="onSubmit()"
  [formGroup]="mailForm"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="John Doe" />
    <mat-hint>Enter your name if you like.</mat-hint>
  </mat-form-field>

  <mat-form-field class="cdk-visually-hidden">
    <mat-label>Additional Name</mat-label>
    <input formControlName="additionalName" matInput placeholder="Jane" />
    <mat-hint>Enter your additional name if you like.</mat-hint>
  </mat-form-field>

  <mat-form-field [class]="emailControlSeverity()">
    <mat-label>E-Mail</mat-label>
    <input
      formControlName="email"
      matInput
      placeholder="john.doe@example.org"
      type="email"
    />
    <mat-hint
      >Enter your email address if you want us to have the option of replying
      you.
    </mat-hint>
    <mat-error *ngIf="emailControl().hasError('email')"
      >Please enter a valid email address or none.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="cdk-visually-hidden">
    <mat-label>Address</mat-label>
    <input formControlName="address" matInput placeholder="Main Street" />
    <mat-hint>Enter your postal address if you like.</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea
      formControlName="content"
      matInput
      placeholder="I would like to say..."
      rows="5"
    ></textarea>
    <mat-hint>Leave a comment. Your feedback is highly appreciated.</mat-hint>
  </mat-form-field>

  <button [disabled]="!mailForm.valid" mat-stroked-button type="submit">
    Send Message
  </button>
</form>
