<h1>Help</h1>
<p>
  This section answers frequently asked questions and aims to remedy flaws in
  the user experience of this site, until these areas were improved.
</p>
<p>
  Providing a hosted solution to the public brings a dimension of complexity
  that needs to be smoothed over time. Thank you for your patience and
  understanding for this is a spare time project.
</p>

<p>
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> How do I use the file command? </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        It analyzes CSV files that contain monthly USD prices of funds in US
        notation. Each period may be given in day precision. The file must not
        contain a header or any other elements.
      </p>

      <p>
        The following is the content of an example CSV file. You can download it
        here: <a href="assets/example.csv">example.csv</a>.
      </p>
      <p>
        <mat-card>
          <pre>
2008-05,1000.45
2008-06,890.84849535001
2008-07,880.17
2008-08,890.27
2008-09,780.19
2008-10-31,1000.45
2008-11-30,890.84849535001
2008-12-31,880.17
2009-01-31,890.27
2009-02-28,780.19
</pre
          >
        </mat-card>
      </p>
      <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
        <mat-icon>info_outline</mat-icon>
        <span>
          Note that the results when analyzing this example data will not be
          meaningful. They only demonstrate the required input format.
        </span>
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How do I interpret the results shown?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Be wary of adjusted R² values below 90%. Factor exposure may be reported
        stronger than they actually are, and your result may be useless for
        drawing conclusions.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> How do I get good results? </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The test data is denominated in USD. Therefore, use ticker symbols which
        are being reported in USD as well and avoid other currencies. For best
        results, find NAV or Index data and prefer a longer data series. Also
        choose a test region that aligns best with your fund's constituents.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Why does it take so long to get a result?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The server hibernates after some time of inactivity and needs to ready
        itself again afterwards. Thus, your first request may take more time
        than others.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</p>

<p>
  You did not find what you were looking for? Shout out to us via
  <a routerLink="/contact">Contact</a>.
</p>
